
:root {
    --primary-grey: #ececec;
    --primary-white: whitesmoke;
    --text-grey:#6c757e;
    --text-red:#8b0102 ;
}
.bg-primary-grey{
    background-color: var(--primary-grey);
}
body {
    font-family: 'Rajdhani', sans-serif;
  
    
    
    }
    h1{
        
       letter-spacing: 40px;
       color: #8b0102 ;
     
    
    }
    
    h2{
        font-family: 'Rajdhani', sans-serif;
        color: #8b0102;
        font-weight: bold;
    }
    /* inizio navbar */
    nav{
        background-color: #ececec;
    }
    .link-nav{
        list-style-type: none ;
        
    }
       /* fine navbar */
    
      /* inizio header */
    header{
        background: linear-gradient(to top, #33333300, #ececec) , url(./media/switzerland-862870_1920.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        }

    
    .img-custom{
        position: absolute;
        bottom: 0px;
        left:0;
        width: 100%;
        
    
        }
    
        /* fine navbar */
    
         /* inizio main */

         main{
            height: 100%;
         }
    .sezione-lorem{
        position: relative;
         background-color: #ececec;
         padding-top: 20vh;
        }
       /* primo p */
    .paragrafo-main::before{
        content: url(./quote-left-solid.svg);
    }
    .paragrafo-main::after{
        content: url(./quote-right-solid.svg);
    }
    
    .paragrafo-main{
        color:#6c757e;
    }
    
    /* BUTTON-MAIN */
    .button{
        color: whitesmoke;
        background-color: #8b0102;
        padding: 10px 40px 10px 40px;
        font-size: large;
        
    }

    /* .container-button{
        padding-top: 15vh;
    } */

    .sagoma-alberi{
            position: absolute;
            bottom: 0px;
            left:0;
        width: 100%;

    }
      /* fino primo p */
    
      /* sezione icone */
    
    .logo-lorem{
       border-bottom: 3px solid #8b0102;
       align-items: end;
    }

.contenitore-timeline{

 position: relative;
    border-left: 3px solid #8b0102;
    z-index: 1;
    

}

.our-timeline{
 font-family: 'Rajdhani', sans-serif;
    font-size:40px;
    padding: 50px 0px 0px 30px;
    
}


.timeline::before{
    content: '';
    position:absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #8b0102;
    border-radius: 50%;
    left: calc(0% - 13.5px);
  
  

}
    

    

        
    
      /* sezione icone */

      .line{
        border-bottom: 8px solid #8b0102;
        width: 300px;
        left:calc(10%-75px)  ;
        position: relative;
 
     }
 
     .line::before{
       content: '';
       position:absolute;
       width: 25px;
       height: 25px;
       background-color: white;
       border: 4px solid #8b0102;
       border-radius: 50%;
       top: calc(95%);
       left: calc(46%);
       
       
 }
 
     /* FINE SEZIONE ICONE */
       
     /* inizio sezione card tonde */
   
     .img-card-tonda{
        
         border: 5px solid var(--text-red);
         border-radius: 50%;
         width: 200px;
         height: 200px;
         
     }
     .contenitore-card-tonde{
         background-color: #ececec;
     }
     .our-team{
        font-size: 40px;
        padding: 50px 0px 20px 50px;
     }
     
     
     /* fine sezione card tonde */

    /* sezione our benefit */
    .benefit{
    
        width: 300px;
        height: 300px;
        border: 2px solid var(--text-red);
    }
    /*  fine sezione our benefit */
    
    /* fine main */
    

    /* inizio footer */
 
    footer{
       
        background-color:#8b0102 ;
    }
.footer-links{ display: flex;
flex-direction: column;

}
    footer > ul {
        list-style-type: disc;
        color: white;
    }

    .footer-custom > h2{
        color: #ececec;
     
        
        
         
    }
    
   
    
    .mb-0{margin-bottom: 500px;}
    
    
    .alberi-footer{
        width: 100%;
    }
    
    
    
    
   /* fine footer */
    



/* @media screen and (min-widht:600px){

    .timeline{
        top:calc(3%);
        left:calc(7.4%);
        
    }
    
} */


































































